@{
    Layout = "_Layout";
}
<div class="contentGrid">
    <div class="title">
        <div class="element">
            <h3>Home</h3>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome</h1>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>